<% if user_signed_in?%>

<table class="table table-bordered table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th>name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Instagram</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @friends.each do |friend| %>
    <% if friend.user == current_user%>
      <tr>
        <td><%= link_to friend.first_name + ' ' + friend.last_name ,friend %>  </td>
        <td><%= friend.email %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.instagram %></td>
        <td><%= link_to 'Delete', friend, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger btn-sm" %></td>
        
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Friend', new_friend_path, class:"btn btn-secondary" %>

<% else %>
<h1>Wassup Tyron</h1>
This is my first Rails Webpage...
<% end %>